name: Build and Push Docker Image-v2

on:
  push:
    branches:
      - main  # Change to the branch you want to trigger the build

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and tag the Docker image
        run: |
          docker build -t evgeniygordeev/vpn-project:latest .

      - name: Push Docker image to Docker Hub
        run: |
          docker push evgeniygordeev/vpn-project:latest

      - name: SSH into VM and run update script
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: 5.101.2.221  
          username: ${{ secrets.VM_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}  
          port: 22
          script: |
            echo "start script"
            
            DOCKER_USER=${{ secrets.DOCKERHUB_USERNAME }}
            DOCKER_PASS=${{ secrets.DOCKERHUB_TOKEN }}

            # Log in to Docker Hub
            docker login -u "$DOCKER_USER" -p "$DOCKER_PASS"

            IMAGE_NAME="evgeniygordeev/vpn-project"
            CONTAINER_NAME="vpn-project"
            LOCAL_DIGEST=$(docker inspect --format='{{index .RepoDigests 0}}' $IMAGE_NAME 2>/dev/null | cut -d "@" -f2)
            REMOTE_DIGEST=$(docker pull $IMAGE_NAME:latest | grep "Digest:" | awk '{print $2}')

            echo "Local Digest: $LOCAL_DIGEST"
            echo "Remote Digest: $REMOTE_DIGEST"

            if [[ "$LOCAL_DIGEST" != "$REMOTE_DIGEST" ]]; then
                echo "New image found! Updating..."
                docker stop $CONTAINER_NAME
                docker rm $CONTAINER_NAME
                docker run -d --name $CONTAINER_NAME $IMAGE_NAME:latest
            else
                echo "No new image. Skipping update."
            fi
